<section class="h-screen flex flex-col justify-center items-center">
  <%= image_tag("logoBlack.png", class: "w-1/6") %>
  <div class="flex flex-col justify-end">
    <div class="bg-main h-fit rounded-md w-fit py-1 px-4 text-white">
      <%= button_to "LOG IN" %>
    </div>
    <div class="text-myblack h-fit">
      <%= button_to "SIGN UP", class: "btn btn-secondary" %>
    </div>
  </div>
</section>