<section class="h-screen">
  <div class="h-3/6 w-full flex flex-col justify-end items-center">
    <%= image_tag("logoBlack.png", class: "w-40 h-auto") %>
  </div>
  <div class="h-3/6 flex flex-col justify-end items-center">
    <div class="bg-main h-fit rounded-sm text-center w-10/12 py-1 px-4 text-white mb-2">
      <%= link_to "LOG IN", new_user_session_path %>
    </div>
    <div class="text-myblack h-11/12 mb-10 border border-1 text-center border-black-200 w-10/12 py-1 px-4 ">
      <%= link_to "SIGN UP", new_user_registration_path %>
    </div>
  </div>
</section>